
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'Open Sans';
    font-size: 13.5px;
    color: #000000;
}


/* link hover effect */
a:hover {
    color: orange;
}

h1 {
  text-align: center;
}

button-container {
  display: flex; /* Use flexbox - row */
}

.button-container button {
  margin-right: 20px; /* spacing bet. buttons */
}